<div id="wrapper">

	<!-- Navigation Bar -->
	<div id="nav-bar"></div>

	<!-- Navigation Sidebar -->
	<div id="sidebar-wrapper"></div>

	<!-- Page content -->
	<div id="page-content-wrapper">
		<!-- Keep all page content within the page-content inset div! -->
		<div id="content" class="page-content inset"></div>
	</div>

</div>