<div id="header" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Heliosfeer</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<!--<li><a href="#account"><span class="glyphicon glyphicon-user"></span>Account</a></li>-->
				<li><a href="#help"><span class="glyphicon glyphicon-question-sign"></span>Help</a></li>
				<li><a href="#settings"><span class="glyphicon glyphicon-cog"></span>Settings</a></li>
				<li><a href="#signout"><span class="glyphicon glyphicon-user"></span>Sign out</a></li>
			</ul>
			<form class="navbar-form navbar-right">
				<input type="text" class="form-control" placeholder="Search...">
			</form>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div id="app-nav-panel" class="col-sm-3 col-md-2 sidebar">
			<!--
			<ul class="nav nav-sidebar">
				<li class="active"><a href="#">Overview</a></li>
				<li><a href="#">Reports</a></li>
				<li><a href="#">Analytics</a></li>
				<li><a href="#">Export</a></li>
			</ul>
			-->
		</div>
		<div id="content" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"></div>
	</div>
</div>