<div id="wrapper">

	<!-- Navigation Bar -->
	<div id="nav-bar"></div>

	<!-- Navigation Sidebar -->
	<div id="sidebar-wrapper"></div>

	<!-- Page content -->
	<div id="page-content-wrapper">
		<!-- Keep all page content within the page-content inset div! -->
		<div id="content" class="page-content inset"></div>
	</div>

</div>

<!-- Bootstrap modal -->
<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalTitleLabel" aria-hidden="true"></div>
