<div id="header" data-role="header" data-position="fixed" data-id="pageview"></div>
<div id="content" data-role="content"></div>
<div id="footer" data-role="footer" data-position="fixed"></div>
<div data-role="popup" id="popup-dialog" data-dismissible="false" style="<!--max-width:400px;-->"></div>
<div data-role="panel" id="nav-panel" data-position-fixed="true" data-display="push" data-animate="false"></div>