<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="img/favicon.ico">

		<title>Dashboard Template for Bootstrap</title>

		<!-- Bootstrap core CSS -->
		<link href="javascripts/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<link href="css/sidebar-media-queries.css" rel="stylesheet">
			<script src="javascripts/vendor/html5shiv.min.js"></script>
			<script src="javascripts/vendor/respond.min.js"></script>
		<![endif]-->

		<link rel="stylesheet" type="text/css" href="<%= mainCss %>" />
		<script data-main="<%= mainJs %>" src="/javascripts/bower_components/requirejs/require.js"></script>
	</head>

	<body>
		<div id="main"></div>
	</body>
</html>