<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href="/img/favicon.ico" rel="icon" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="<%= mainCss %>" />
	<script data-main="<%= mainJs %>" src="/javascripts/components/requirejs/require.js"></script>
</head>
<body>
	<!-- JQM seems to need this in the page even though we don't use it -->
	<!-- <div data-role="page" data-theme="b"></div> -->
</body>
</html>
