<div data-role="header">
<h1>Wine Deleted</h1>
</div>
<div role="main" class="ui-content">
    <h3 class="ui-title">Wine deleted successfully</h3>
    <a href="#wines" class="okay ui-btn ui-corner-all ui-shadow ui-btn-inline">Okay</a>
</div>