<div data-role="header">
<h1>Error</h1>
</div>
<div role="main" class="ui-content">
    <h3 class="ui-title">Wine could not be deleted</h3>
    <p>Error code: {{xhr.status}} - {{xhr.responseText}}</p>
    <a href="#" class="cancel ui-btn ui-corner-all ui-shadow ui-btn-inline" data-rel="back">Cancel</a>
    <a href="#" class="retry ui-btn ui-corner-all ui-shadow ui-btn-inline">Retry</a>
</div>