<ul class="nav nav-pills">
	<li class="active"><a href="#">New <span class="badge">7</span></a></li>
	<li><a href="#">Active <span class="badge">2</span></a></li>
	<li><a href="#">Messages <span class="badge">5</span></a></li>
</ul>

<br />

<div id="ticket-list"></div>