

<div class="view">
	<input type="checkbox" class="toggle">
	<label id="todo-list_2_textLabel{{_id}}">{{title}}</label>
	<button type="button" class="destroy" id="todo-list_2_button{{_id}}"></button>
</div>
