<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle toggle-sidebar">
				<span class="sr-only">{{screenReaders.toggleSidebar}}</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Heliosfeer</a>
			<button type="button" class="navbar-toggle hide-before-signin hidden" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">{{screenReaders.toggleSettings}}</span>
				<span class="glyphicon glyphicon-cog"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<!--<li><a href="#account"><span class="glyphicon glyphicon-user"></span>Account</a></li>-->
				<li class="hide-before-signin hidden"><a href="#settings"><span class="glyphicon glyphicon-cog"></span>{{items.settings}}</a></li>
				<li class="hide-before-signin hidden"><a href="#signout"><span class="glyphicon glyphicon-user"></span>{{items.signout}}</a></li>
			</ul>
		</div>
	</div>
</div>