<ul data-role="listview">
	<li data-icon="delete"><a href="#" data-rel="close">{{items.close}}</a></li>
    <li data-icon="home"><a href="#home">{{items.home}}</a></li>
    <li data-icon="plus"><a href="#wines/add">{{items.addWine}}</a></li>
    <li><a href="#wines">{{items.wineList}}</a></li>
</ul>