<ul class="nav nav-sidebar">
    <li class="active"><a href="#dashboard"><span class="glyphicon glyphicon-dashboard"></span>{{items.dashboard}}</a></li>
    <li><a href="#wines/add"><span class="glyphicon glyphicon-plus"></span>{{items.addWine}}</a></li>
    <li><a href="#wines"><span class="glyphicon glyphicon-list"></span>{{items.wineList}}</a></li>
</ul>