<ul data-role="listview">
	<li data-icon="delete"><a href="#" data-rel="close">Close</a></li>
    <li data-icon="home"><a href="#home">Home</a></li>
    <li data-icon="plus"><a href="#wines/add">Add wine</a></li>
    <li><a href="#wines">Wine list</a></li>
</ul>