<div data-role="header">
    <h1>Error</h1>
</div>

<div style="padding:10px 20px;min-width:300px;">
    <h3>{{error.type}}</h3>
    <p>{{error.message}}</p>
    <a href="#" class="close ui-btn ui-corner-all ui-shadow ui-btn-inline">Close</a>
</div>
