<div data-role="header">
    <h1>Terms of Use</h1>
</div>

<div class="popup-content-wrapper">
	<h2>Terms of Use</h2>

	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare, orci a tempus pellentesque, eros lacus aliquet turpis, vel laoreet diam libero ac libero. Donec semper vel neque sit amet feugiat. Fusce turpis arcu, luctus id tincidunt et, dapibus id metus. Ut vitae imperdiet velit, vitae interdum justo. Aliquam euismod nulla a nisi facilisis, non feugiat ipsum mattis. Vestibulum lorem dolor, tempor at felis quis, vehicula semper turpis. Mauris tempor bibendum leo ac volutpat.</p>

	<p>Donec vulputate augue eget nibh iaculis molestie. Nam at nibh et diam tincidunt mattis. Praesent vulputate ligula nisi. Ut ultricies turpis ut ante tempus, nec aliquet sem viverra. Sed feugiat nunc non ipsum laoreet bibendum. Proin cursus eros eget odio pulvinar aliquam. Pellentesque at mattis mauris. Praesent viverra lorem in lorem condimentum, et laoreet elit vehicula. Fusce condimentum velit eget suscipit dignissim.</p>

	<a href="#" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-delete" data-rel="back">Close</a>
</div>